<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crc.legacymvc.BlackListMapper">

	<select id='blacklist' resultType="BlackList">
		select * from blacklist
	</select>

	<insert id='insertblacklist' parameterType="BlackList">
		insert into blacklist values(#{id}, #{password})
	</insert>

</mapper>
